##
description = "Default layout"

[CategoryList]

[Cart]

[SeoToolbox]
==
<!DOCTYPE html>
<html>
  <head>

    {% partial 'site/meta' %}
      {% placeholder seo_tags default %}
      {% component 'SeoToolbox' %}
      {% endplaceholder %}
  </head>
  <body class="layout-home">
    <header id="layout-header">
      {% partial 'site/header' %}
    </header>
    <section id="layout-content">
        <div class="max-w-site m-0 m-auto bg-body">
            {% page %}
        </div>
    </section>
  <footer id="layout-footer">
    {% partial 'site/footer' %}
    {% partial 'metrics' %}
  </footer>
    {% partial 'modal' %}
  </body>
</html>
