<section class="max-w-site m-0 m-auto mx-5">
    <div class="max-w-block m-0 m-auto font-futura text-[32px] mb-48 max-1.5xl:text-3xl max-1.3xl:text-2xl max-xl:mb-32 max-1.5lg:text-xl max-md:mb-20 max-smtwo:text-base">
      <div class="grid grid-cols-[650px_auto] items-end mb-20 max-1.5lg:grid-cols-2 max-md:mb-10 max-mdtwo:flex max-mdtwo:flex-col max-mdtwo:items-start">
        <h2 class="text-5xl max-1.5lg:text-4xl">Изготовление <span class="font-bold">мебели</span></h2>
        <span class="h-2 w-full mb-3 bg-brown max-mdtwo:h-1"></span>
      </div>
      <div class="grid grid-cols-[auto_390px_auto] max-1.5xl:grid-cols-3 max-md:grid-cols-2 max-md:gap-5">
        <div class="flex flex-col justify-between justify-self-end mr-5 max-1.5lg:mr-0 max-md:justify-around">
          <div class="relative mt-24 max-md:mt-10 max-smtwo:mt-0">
            <p class="max-1.5lg:underline max-1.5lg:underline-offset-8 decoration-gray-400">Широкий выбор <br class="hidden max-1.5xl:block max-1.5lg:hidden"> материалов</p>
            <img class="absolute -top-16 max-xl:top-0 max-1.5lg:hidden" src="/themes/demo/assets/images/blog4line2.svg" alt="line">
          </div>
          <div class="flex justify-between items-center">
            <p class="mr-16 max-1.5lg:mr-5 max-smtwo:underline max-smtwo:underline-offset-8 decoration-gray-600">Лучший размер под Ваш интерьер</p>
            <img class="max-1.5lg:h-32 max-smtwo:hidden" src="/themes/demo/assets/images/blog4arrow.svg" alt="arrow">
          </div>
          <div class="relative w-full hidden max-md:block">
            <p class="max-1.5lg:underline max-1.5lg:underline-offset-8 decoration-gray-950">Подберем лучшее цветовое решение</p>
          </div>
        </div>
          <!-- <img class="max-w-[390px] max-1.5xl:justify-self-center max-1.5lg:w-56 max-smtwo:w-40" src="/themes/demo/assets/images/blog4img.png" alt="picture"> -->
          {% partial 'helpers/image'
          src = "/themes/demo/assets/images/blog4img.png"
          mobSrc = "/themes/demo/assets/images/blog4img.png"
          width = 390 height = 640
          mobWidth = 150 mobHeight = 245
          alt = "Купить лофт мебель" class="imageZoom"
          %}

        <div class="grid grid-cols-1 items-center ml-5 max-1.5lg:ml-0 max-md:col-start-2 max-smtwo:col-span-2">
          <div class="relative w-full text-end mt-24 max-md:hidden">
            <p class="max-1.5lg:underline max-1.5lg:underline-offset-8">Подберем лучшее цветовое решение</p>
            <img class="absolute top-12 max-1.5lg:top-16 max-1.5lg:hidden" src="/themes/demo/assets/images/blog4line3.svg" alt="line">
          </div>
          <div class="flex justify-end self-end mb-5 text-white relative">
            <p class="pt-5 pl-7 pb-20 pr-24 max-1.5xl:pr-10 max-lg:pb-10 bg-button rounded-xl">бесплатно выезжаем на объект</p>
            <button class="callBackBtn absolute -bottom-9 -right-3 bg-brown p-4 max-mdtwo:text-base border border-brown rounded-xl
            hover:bg-white hover:text-brown hover:duration-500 hover:shadow-blog2">Заказать индивидуальный размер</button>
          </div>
        </div>
      </div>
    </div>
</section>
