<section class="max-w-site m-0 m-auto mb-32 max-smtwo:mb-10">
  <ul class="flex max-smtwo:grid max-smtwo:grid-cols-2">
    <li>
        {% partial 'helpers/image'
        src = "/themes/demo/assets/images/blog3img1.png"
        mobSrc = "/themes/demo/assets/images/blog3img1.png"
        width = 634 height = 456
        mobWidth = 634 mobHeight = 456
        alt = "Купить лофт мебель" class="imageZoom"
        %}
    </li>
    <li>
        {% partial 'helpers/image'
        src = "/themes/demo/assets/images/blog3img2.png"
        mobSrc = "/themes/demo/assets/images/blog3img2.png"
        width = 634 height = 456
        mobWidth = 634 mobHeight = 456
        alt = "Стол в стиле лофт" class="imageZoom"
        %}
    </li>
    <li class="max-smtwo:col-span-2">
        {% partial 'helpers/image'
        src = "/themes/demo/assets/images/blog3img3.png"
        mobSrc = "/themes/demo/assets/images/blog3img3.png"
        width = 634 height = 456
        mobWidth = 634 mobHeight = 456
        alt = "Кровать в стиле лофт" class="imageZoom"
        %}
     </li>
  </ul>
</section>
