<section class="max-w-site m-0 m-auto mx-5">
    <div class="max-w-block m-0 m-auto pb-32 font-futura text-base max-smtwo:pb-10 max-smtwo:text-sm">
        <div
            class="grid grid-cols-[500px_auto] items-end mb-20 max-md:flex max-md:flex-col max-md:items-start max-smtwo:mb-10">
            <h2 class="text-5xl max-smtwo:text-4xl">Отзывы наших клиентов</h2>
            <span class="h-2 w-full bg-brown mb-3 max-md:h-1"></span>
        </div>
        <ul
            class="grid grid-cols-4 gap-14 mb-32 max-lg:grid-cols-3 max-md:grid-cols-2 max-md:gap-5 max-smtwo:mb-10 max-smtwo:grid-cols-1">
            <li class="bg-brown p-6 rounded-[20px] h-max">
                <div class="flex mb-4">
                    {% partial 'helpers/image'
                    src = "/themes/demo/assets/images/blog6img1.png"
                    mobSrc = "/themes/demo/assets/images/blog6img1.png"
                    width = 34 height = 34
                    mobWidth = 34 mobHeight = 34
                    alt = "avatar" class="mr-2.5"
                    %}
                    <div class="text-xs">
                        <p class="text-white-grey">Sebastiaan Debrouwere</p>
                        <p class="text-light-grey">@iamsebdeb</p>
                    </div>
                </div>
                <p class="text-blog6 mb-3 font-inter">Прекрасная мебель! Купил лофт-диван, и я в восторге. Очень
                    стильный и комфортный. Подушки добавляют уюта, и металлические элементы придают ему особый шарм.</p>
                <p class="text-light-grey text-xs">10:01 PM · Apr 7, 2022</p>
            </li>
            <li class="bg-brown p-6 rounded-[20px] h-max">
                <div class="flex mb-4">
                    {% partial 'helpers/image'
                    src = "/themes/demo/assets/images/blog6img2.png"
                    mobSrc = "/themes/demo/assets/images/blog6img2.png"
                    width = 34 height = 34
                    mobWidth = 34 mobHeight = 34
                    alt = "avatar" class="mr-2.5"
                    %}
                    <div class="text-xs">
                        <p class="text-white-grey">Alon</p>
                        <p class="text-light-grey">@alon</p>
                    </div>
                </div>
                <p class="text-blog6 mb-3 font-inter">Приобрёл шкаф здесь, просто шедевр! Я в восторге от его
                    уникального дизайна и
                    высокого качества. Прекрасное решение для моей прихожей.</p>
                <p class="text-light-grey text-xs">6:57 PM · Dec 1, 2022</p>
            </li>
            <li class="bg-brown p-6 rounded-[20px] h-max">
                <div class="flex mb-4">
                    {% partial 'helpers/image'
                    src = "/themes/demo/assets/images/blog6img3.png"
                    mobSrc = "/themes/demo/assets/images/blog6img3.png"
                    width = 34 height = 34
                    mobWidth = 34 mobHeight = 34
                    alt = "avatar" class="mr-2.5"
                    %}
                    <div class="text-xs">
                        <p class="text-white-grey">Dimitry Gershenson</p>
                        <p class="text-light-grey">@d_gershenson</p>
                    </div>
                </div>
                <p class="text-blog6 mb-3 font-inter">Моя новая кровать просто потрясающа! Бетонные отделки и
                    стальные ножки создают невероятный визуальный эффект. Очень доволен покупкой.</p>
                <p class="text-light-grey text-xs">1:32 PM · Jan 4, 2023</p>
            </li>
            <li class="bg-brown p-6 rounded-[20px] h-max">
                <div class="flex mb-4">
                    {% partial 'helpers/image'
                    src = "/themes/demo/assets/images/blog6img4.png"
                    mobSrc = "/themes/demo/assets/images/blog6img4.png"
                    width = 34 height = 34
                    mobWidth = 34 mobHeight = 34
                    alt = "avatar" class="mr-2.5"
                    %}
                    <div class="text-xs">
                        <p class="text-white-grey">Fabian</p>
                        <p class="text-light-grey">@FabstheAustrian</p>
                    </div>
                </div>
                <p class="text-blog6 mb-3 font-inter">Лофт-комод - моя последняя находка! Прекрасное сочетание дерева и
                    металла, много места для хранения, и выглядит на высоте. Всем доволен!</p>
                <p class="text-light-grey text-xs">3:36 PM · Nov 8, 2022</p>
            </li>
            <li class="bg-brown p-6 rounded-[20px] h-max">
                <div class="flex mb-4">
                    {% partial 'helpers/image'
                    src = "/themes/demo/assets/images/blog6img5.png"
                    mobSrc = "/themes/demo/assets/images/blog6img5.png"
                    width = 34 height = 34
                    mobWidth = 34 mobHeight = 34
                    alt = "avatar" class="mr-2.5"
                    %}
                    <div class="text-xs">
                        <p class="text-white-grey">Krishna</p>
                        <p class="text-light-grey">@ntkris</p>
                    </div>
                </div>
                <p class="text-blog6 mb-3 font-inter">Купила стол в стиле лофт для своей
                    студии. Он идеально вписывается в интерьер, прекрасно сочетая индустриальный дизайн с
                    функциональностью. Мне нравится! 😍</p>
                <p class="text-light-grey text-xs">1:03 PM · Mar 3, 2023</p>
            </li>
            <li class="bg-brown p-6 rounded-[20px] h-max">
                <div class="flex mb-4">
                    {% partial 'helpers/image'
                    src = "/themes/demo/assets/images/blog6img6.png"
                    mobSrc = "/themes/demo/assets/images/blog6img6.png"
                    width = 34 height = 34
                    mobWidth = 34 mobHeight = 34
                    alt = "avatar" class="mr-2.5"
                    %}
                    <div class="text-xs">
                        <p class="text-white-grey">Jono Bacon</p>
                        <p class="text-light-grey">@jonobacon</p>
                    </div>
                </div>
                <p class="text-blog6 mb-3 font-inter">Приобрёл кресло для офиса. Строгий дизайн и комфортная посадка
                    делают его идеальным вариантом для рабочего пространства.</p>
                <p class="text-light-grey text-xs">4:05 PM · Jan 9, 2023</p>
            </li>
            <li class="bg-brown p-6 rounded-[20px] h-max">
                <div class="flex mb-4">
                    {% partial 'helpers/image'
                    src = "/themes/demo/assets/images/blog6img7.png"
                    mobSrc = "/themes/demo/assets/images/blog6img7.png"
                    width = 34 height = 34
                    mobWidth = 34 mobHeight = 34
                    alt = "avatar" class="mr-2.5"
                    %}
                    <div class="text-xs">
                        <p class="text-white-grey">Maria</p>
                        <p class="text-light-grey">@therealsrii</p>
                    </div>
                </div>
                <p class="text-blog6 mb-3 font-inter">Мой новый лофт-столик просто великолепен! Брутальные деревянные
                    поверхности и металлический каркас создают неповторимый стиль. Очень рекомендую!</p>
                <p class="text-light-grey text-xs">10:17 PM · Jan 3, 2023</p>
            </li>
            <li class="bg-brown p-6 rounded-[20px] h-max">
                <div class="flex mb-4">
                    {% partial 'helpers/image'
                    src = "/themes/demo/assets/images/blog6img8.png"
                    mobSrc = "/themes/demo/assets/images/blog6img8.png"
                    width = 34 height = 34
                    mobWidth = 34 mobHeight = 34
                    alt = "avatar" class="mr-2.5"
                    %}
                    <div class="text-xs">
                        <p class="text-white-grey">Eddy J. Prado 🔥</p>
                        <p class="text-light-grey">@eddyjprado</p>
                    </div>
                </div>
                <p class="text-blog6 mb-3 font-inter">Купил стеллаж для книг. Очень впечатлен качеством материалов
                    и стильным дизайном. Это не просто мебель, это настоящее произведение искусства.</p>
                <p class="text-light-grey text-xs">10:01 PM · Apr 7, 2022</p>
            </li>
        </ul>
        <div class="flex justify-center">
            <button class="callBackBtn text-white w-[355px] h-[50px] bg-button border rounded-xl text-xl hover:border-brown
        hover:underline hover:duration-300" type="button">Получить консультацию</button>
        </div>
    </div>
</section>
