<section class="max-w-site m-0 m-auto pt-20 mb-24 mx-5 max-xl:pt-12 max-smtwo:mb-10">
  <div class="max-w-block m-0 m-auto font-futura">
    <div
      class="grid grid-cols-[400px_auto] items-center mb-20 max-smtwo:flex max-smtwo:flex-col max-smtwo:items-start max-smtwo:mb-10">
      <h2 class="text-5xl font-inter font-medium max-smtwo:text-3xl">Каталог мебели</h2>
      <span class="h-2 bg-brown w-full max-smtwo:h-1"></span>
    </div>
    <div
      class="grid grid-cols-[400px_auto] justify-between max-lg:grid-cols-1 max-1.5lg:grid-cols-[330px_auto]">
      <div class="blog-nav mr-10 max-lg:mr-0">
        {% partial 'menu' %}
      </div>
      <div class="max-w-[1096px]">
          <div class=" catalog-list grid grid-cols-3 gap-10 sm:gap-10 md:gap-20 2xl:gap-20 mb-20 text-2xl text-brown
max-md:grid-cols-2 max-lg:justify-items-center max-sm:gap-3 max-smtwo:mb-7 max-mini:text-lg ">
          {% if obProductList is not empty %}
          {% for obProduct in obProductList %}
          {% set obOffer = obProduct.offer.first() %}
          {% partial 'product-card' %}
          {% endfor %}
        </div>
        {% else %}
        <p>В данной категории нет товаров</p>
        {% endif %}

        <div class="flex justify-between max-xl:justify-evenly max-smtwo:flex-col max-smtwo:items-center">
          <a href="http://demo-project.loc/catalog/populyarnoe#catalog" title="Популярные товары"
            class="mb-4 text-xl font-inter text-white px-5 pt-3 bg-button rounded-[10px] border max-smtwo:p-3
            max-smtwo:text-lg hover:border-brown hover:underline hover:duration-300 pb-[15px]">Показать
            все
            товары категории</a>
<!--          <div>-->
<!--            <button class="mr-5 rounded-full hover:bg-white hover:duration-300">-->
<!--              <img class=" max-smtwo:max-w-[40px]" src="/themes/demo/assets/images/Кнопкаслайдера1.svg" alt="button">-->
<!--            </button>-->
<!--            <button class="rounded-full hover:bg-white hover:duration-300">-->
<!--              <img class=" max-smtwo:max-w-[40px]" src="/themes/demo/assets/images/Кнопкаслайдера2.svg" alt="button">-->
<!--            </button>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</section>
