<section class="max-w-site m-0 m-auto">
  <div class="max-w-block m-0 m-auto text-xl font-futura mb-32">
    <div class="grid grid-cols-[520px_auto] items-end mb-16">
      <h2 class="text-5xl">Работаем <span class="font-black">по всей России</span></h2>
      <span class="h-2 w-full bg-brown mb-3 bold"></span>
    </div>
    <div class="flex">
      <div class="flex flex-col justify-between mr-32">
        <div class="mb-10 font-semibold leading-8">
          <p class="mb-6">Создайте свою уникальную лофт мебель и превратите свой дом в стильное пространство с
            индустриальным
            шармом.
          </p>
          <p class="mb-6">Наша компания предлагает широкий выбор дизайнерских элементов мебели, которые помогут вам
            создать
            атмосферу
            лофта, отражающую вашу индивидуальность.</p>
          <p class="mb-6">Используйте смелые комбинации металла, дерева и сырого бетона,
            чтобы добавить характер и элегантность вашему интерьеру.</p>
          <p>Воплотите свои творческие идеи в реальность с нашей
            помощью и создайте уникальное пространство, которое будет вдохновлять вас и ваших гостей.</p>
        </div>
        <a href="">
          <button class="text-white w-[355px] h-[50px] border bg-button rounded-xl hover:border-brown hover:underline hover:duration-300">Узнать про доставку</button>
        </a>
      </div>
      <div class="relative max-w-[815px] w-full">
        <img src="/themes/demo/assets/images/blog5img.png" alt="picture">
        <img class="absolute top-16 right-14" src="/themes/demo/assets/images/blog5img2.png" alt="picture">
      </div>
    </div>
  </div>
</section>
