<section class="max-w-site m-0 m-auto pt-20 bg-blog1-bg/10 mb-[103px]">
  <div class="max-w-container m-0 m-auto">
    <div class="grid grid-cols-[400px_auto]  justify-between">
      <ul class="font-futura text-3xl font-bold max-w-[400px]">
        <li class="flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange border-2 border-solid rounded-md">
          <div class="w-[90px]">
            <img class="m-auto" src="/themes/demo/assets/images/icon1.png" alt="">
          </div>
          <a href="">Столы</a>
        </li>
        <li class="flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange border-2 border-solid rounded-md">
          <div class="w-[90px]">
            <img class="m-auto" src="/themes/demo/assets/images/icon2.png" alt="">
          </div>
          <a href="">Стулья</a>
        </li>
        <li class="flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange border-2 border-solid rounded-md">
          <div class="w-[90px]">
            <img class="m-auto" src="/themes/demo/assets/images/icon3.png" alt="">
          </div>
          <a href="">Комоды</a>
        </li>
        <li class="flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange border-2 border-solid rounded-md">
          <div class="w-[90px]">
            <img class="m-auto" src="/themes/demo/assets/images/icon4.png" alt="">
          </div>
          <a href="">Тумбочки</a>
        </li>
        <li class="flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange border-2 border-solid rounded-md">
          <div class="w-[90px]">
            <img class="m-auto" src="/themes/demo/assets/images/icon5.png" alt="">
          </div>
          <a href="">Кровати</a>
        </li>
        <li class="flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange border-2 border-solid rounded-md">
          <div class="w-[90px]">
            <img class="m-auto" src="/themes/demo/assets/images/icon6.png" alt="">
          </div>
          <a href="">Диваны</a>
        </li>
        <li class="flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange border-2 border-solid rounded-md">
          <div class="w-[90px]">
            <img class="m-auto" src="/themes/demo/assets/images/icon7.png" alt="">
          </div>
          <a href="">Пуфы</a>
        </li>
        <li class="flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange border-2 border-solid rounded-md">
          <div class="w-[90px]">
            <img class="m-auto" src="/themes/demo/assets/images/icon8.png" alt="">
          </div>
          <a href="">Полки навесные</a>
        </li>
        <li class="flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange border-2 border-solid rounded-md">
          <div class="w-[90px]">
            <img class="m-auto" src="/themes/demo/assets/images/icon9.png" alt="">
          </div>
          <a href="">Стеллажи</a>
        </li>
        <li class="flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange border-2 border-solid rounded-md">
          <div class="w-[90px]">
            <img class="m-auto" src="/themes/demo/assets/images/icon10.png" alt="">
          </div>
          <a href="">Мангалы</a>
        </li>
        <li class="flex pl-[25px] py-4 bg-white items-center border-light-orange border-2 border-solid rounded-md">
          <div class="w-[90px]">
            <img class="m-auto" src="/themes/demo/assets/images/icon11.png" alt="">
          </div>
          <a href="">Для дачи</a>
        </li>
      </ul>
      <div class="max-w-[1096px]">
        <ul class="grid grid-cols-3 gap-32 mb-20 text-2xl text-brown font-futura">
          <li class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300%" style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300%" style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300%" style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300%" style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300%" style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300%" style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300%" style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300%" style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300%" style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <div class="flex justify-between">
          <button class=" mb-4 text-xl text-white px-5 bg-button rounded-[10px]">Показать все товары категории</button>
          <div>
            <button class="mr-5">
              <img src="/themes/demo/assets/images/Кнопкаслайдера1.svg" alt="">
            </button>
            <button>
              <img src="/themes/demo/assets/images/Кнопкаслайдера2.svg" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
