<section class="max-w-site m-0 m-auto">
  <div class="max-w-block m-0 m-auto font-futura text-xl mb-32">
    <div class="flex justify-between items-end mb-20">
      <img src="/themes/demo/assets/images/Рамкаверх.svg" alt="рамка">
      <div class="text-center">
        <h2 class="text-5xl text-brown mb-5 font-medium">Безупречный <span class="font-black">Сервис</span>
          для Вас</h2>
        <p class="text-text-gray">Помимо премиального качества продукции, наша компания заботится <br> о
          комфортном взаимодействии с клиентом</p>
      </div>
      <img src="/themes/demo/assets/images/Рамкаверх2.svg" alt="рамка">
    </div>
    <ul class="flex flex-wrap justify-center pt-12 px-32">
      <li class="flex items-start max-w-[530px] mr-10 mb-20">
        <img class="mr-9" src="/themes/demo/assets/images/blog2img.svg" alt="icon-img">
        <div>
          <h2 class="text-2xl font-bold mb-10">Изготовление по нужным размерам</h2>
          <p>Возможен выезд на объект</p>
        </div>
      </li>
      <li class="flex items-start max-w-[530px] mb-20">
        <img class="mr-9" src="/themes/demo/assets/images/blog2img.svg" alt="icon-img">
        <div>
          <h2 class="text-2xl font-bold mb-10">Гарантийный срок на все производство</h2>
          <p>от трёх и более лет</p>
        </div>
      </li>
      <li class="flex items-start max-w-[530px] mr-10">
        <img class="mr-9" src="/themes/demo/assets/images/blog2img.svg" alt="icon-img">
        <div>
          <h2 class="text-2xl font-bold mb-10">Гарантийный срок на все производство</h2>
          <p>от трёх и более лет</p>
        </div>
      </li>
      <li class="flex items-start max-w-[530px]">
        <img class="mr-9" src="/themes/demo/assets/images/blog2img2.png" alt="icon-img">
        <div>
          <h2 class="text-2xl font-bold mb-10">Работаем с коммерческими объектами</h2>
          <p>Магазины, склады, офисы</p>
        </div>
      </li>
    </ul>
  </div>
</section>
