<section class="max-w-site m-0 m-auto mx-5">
  <div class="max-w-block m-0 m-auto font-futura text-xl mb-32 max-smtwo:mb-10">
    <div class="flex justify-between items-end mb-20 max-lg:items-center max-md:mb-10 max-smtwo:mb-5">
      <img class="max-xl:w-60 max-lg:w-32 max-md:hidden" src="/themes/demo/assets/images/Рамкаверх.svg" alt="рамка">
      <div class="text-center">
        <h2 class="text-5xl text-brown mb-5 font-medium max-xl:text-4xl max-lg:mb-3 max-smtwo:text-3xl">Безупречный <span class="font-black">Сервис</span>
          для Вас</h2>
          <span class="h-1 w-full mb-3 bg-brown hidden max-md:block"></span>
        <p class="text-text-gray max-xl:text-lg max-md:text-start max-md:mt-5 max-smtwo:ml-5">Помимо премиального качества продукции, наша компания заботится <br class="max-1.5lg:hidden"> о
          комфортном взаимодействии с клиентом.</p>
      </div>
      <img class="max-xl:w-60 max-lg:w-32 max-md:hidden" src="/themes/demo/assets/images/Рамкаверх2.svg" alt="рамка">
    </div>
    <ul class="flex flex-wrap justify-center pt-12 px-32 max-xl:px-10 max-xl:grid max-xl:grid-cols-2 max-mdtwo:gap-10 max-smtwo:grid-cols-1 max-smtwo:pt-5 max-smtwo:px-5">
      <li class="flex items-start max-w-[530px] max-md:flex-col mr-10 mb-20 max-mdtwo:mr-0 max-mdtwo:mb-0">
        <img class="mr-9 max-lg:w-20 max-smtwo:mb-2" src="/themes/demo/assets/images/blog2img.svg" alt="icon-img">
        <div>
          <h2 class="text-2xl font-bold mb-10 max-lg:mb-5 max-smtwo:mb-2">Изготовление по нужным размерам</h2>
          <p>Возможен выезд на объект</p>
        </div>
      </li>
      <li class="flex items-start max-w-[530px] mb-20 max-md:flex-col max-mdtwo:mb-0">
        <img class="mr-9 max-lg:w-20 max-smtwo:mb-2" src="/themes/demo/assets/images/blog2img.svg" alt="icon-img">
        <div>
          <h2 class="text-2xl font-bold mb-10 max-lg:mb-5 max-smtwo:mb-2">Гарантийный срок на все производство</h2>
          <p>от трёх и более лет</p>
        </div>
      </li>
      <li class="flex items-start max-w-[530px] mr-10 max-md:flex-col max-mdtwo:mr-0">
        <img class="mr-9 max-lg:w-20 max-smtwo:mb-2" src="/themes/demo/assets/images/blog2img.svg" alt="icon-img">
        <div>
          <h2 class="text-2xl font-bold mb-10 max-lg:mb-5 max-smtwo:mb-2">Гарантийный срок на все производство</h2>
          <p>от трёх и более лет</p>
        </div>
      </li>
      <li class="flex items-start max-w-[530px] max-md:flex-col">
        <img class="mr-9 max-lg:w-20 max-smtwo:mb-2" src="/themes/demo/assets/images/blog2img2.png" alt="icon-img">
        <div>
          <h2 class="text-2xl font-bold mb-10 max-lg:mb-5 max-smtwo:mb-2">Работаем с коммерческими объектами</h2>
          <p>Магазины, склады, офисы</p>
        </div>
      </li>
    </ul>
  </div>
</section>
