{% set obCategoryList = CategoryList.make().tree() %}
{% set obCartPositionList = Cart.get() %}

{% set obCategory = CategoryPage.get() %}

{% if obCategory != null %}
{% set obProductList = ProductList.make().active().category(obCategory.id, true) %}

{% else %}
{% set obProductList = ProductList.make().active().take(20) %}
{% endif %}

{% set iPage = Pagination.getPageFromRequest() %}
{% set iCount = obProductList.count() %}

{# Apply pagination to product collection and get array with product items #}
{% set obProductList = obProductList.page(iPage, Pagination.getCountPerPage()) %}

{% set arSEOParams = {'category': obCategory} %}

{% put seo_tags %}
{% component 'SeoToolbox' model=obCategory params=arSEOParams %}
{% endput %}

{% set arBreadcrumbs = [
{'active': true, 'name': obCategory.name }
] %}
{% if obCategory.name is empty %}
{% set arBreadcrumbs = [
{'active': true, 'name': 'Категории' }
] %}
{% endif %}

<section class="max-w-site m-0 m-auto pt-20 pb-24 max-xl:pt-12 mx-5" id="catalog">
    <div class="max-w-block m-0 m-auto font-futura ">
        <div
        class="grid grid-cols-[400px_auto] items-center mb-20 max-mdtwo:grid-cols-1 max-mdtwo:items-start max-mdtwo:mb-10">
        <h2 class="mb-5 max-mdtwo:mb-0 text-5xl font-inter font-medium max-xl:text-4xl">Каталог мебели</h2>
        <span class="h-2 bg-brown w-full max-mdtwo:h-1 max-mdtwo:mb-5"></span>
        {% partial 'breadcrums' wrapperClass='catalog__breadcrumbs' arBreadcrumbs=arBreadcrumbs   %}
    </div>

        <form
            class="flex justify-center items-center text-2xl mb-20 mr-9 max-sm:flex-col max-sm:mb-8 max-sm:items-start"
            action="" method="post">
            <label class="mr-16 font-inter max-smtwo:mr-10 max-sm:mb-5" for="sorting">Сортировать:</label>
            <select
                class="_shopaholic-sorting w-[270px] border border-brown rounded-md p-4 max-smtwo:w-[200px] bg-right-1 text-text-gray/50 text-2xl  hover:text-brown focus:text-brown focus:ring-brown focus:border-brown"
                name="sorting" id="sorting">
                <option value="price|asc">По алфавиту</option>
                <option value="price|desc">По цене</option>
                <option  value="popularity|desc">По популярности</option>
            </select>
        </form>
        <div class="grid grid-cols-[400px_auto] max-lg:grid-cols-1 max-1.5lg:grid-cols-[330px_auto]">
            <div class="blog-nav mr-10">
                <div class="blog-nav-button">
                    <button class="blog-nav__btn">Категории</button>
                    <button class="blog-nav__close">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="8.95386" y="7.30435" width="11.6645" height="2.33291"
                                  transform="rotate(45 8.95386 7.30435)"
                                  fill="#999999"/>
                            <rect x="7.30432" y="15.5524" width="11.6645" height="2.33291"
                                  transform="rotate(-45 7.30432 15.5524)"
                                  fill="#999999"/>
                            <circle cx="12" cy="12" r="11" stroke="#999999" stroke-width="2"/>
                        </svg>
                    </button>
                </div>
                {% partial 'menu' %}
            </div>
            <div class="catalog__wrapper max-w-[1096px]">

                {% partial 'catalog/catalog-ajax' %}
            </div>
        </div>
    </div>
</section>

