<section class="max-w-site m-0 m-auto pt-20 mb-24 max-xl:pt-12" id="catalog">
  <div class="max-w-block m-0 m-auto font-futura">
    <div class="grid grid-cols-[400px_auto] items-center mb-20">
      <h2 class="text-5xl font-inter font-medium">Каталог мебели</h2>
      <span class="h-2 bg-brown w-full"></span>
    </div>
    <form class="flex justify-center items-center text-2xl mb-20 mr-9" action="" method="post">
      <label class="mr-16 font-inter" for="sorting">Сортировать:</label>
      <select class=" w-[270px] border border-brown rounded-md p-4 bg-right-1 text-text-gray/50 text-2xl  hover:text-brown focus:text-brown focus:ring-brown focus:border-brown" name="sorting" id="sorting">
        <option value="1">По алфавиту</option>
        <option value="2">По убыванию цены</option>
        <option value="3">По возрастанию цены</option>
        <option value="4">По популярности</option>
      </select>
    </form>
    <div
      class="grid grid-cols-[400px_auto] justify-between max-[1750px]:justify-around max-lg:grid-cols-1 max-[1090px]:grid-cols-[330px_auto]">
      <div class="blog-nav">
        <div class="hidden max-lg:flex">
          <button class="blog-nav__btn">Категории</button>
          <button class="blog-nav__close">
            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="8.95386" y="7.30435" width="11.6645" height="2.33291" transform="rotate(45 8.95386 7.30435)"
                fill="#999999" />
              <rect x="7.30432" y="15.5524" width="11.6645" height="2.33291" transform="rotate(-45 7.30432 15.5524)"
                fill="#999999" />
              <circle cx="12" cy="12" r="11" stroke="#999999" stroke-width="2" />
            </svg>
          </button>
        </div>
        <ul class="blog-list text-3xl font-bold max-w-[400px] max-[500px]:grid-cols-1">
          <li
            class="blog-list__item flex mb-5 pl-[25px] py-2.5 bg-white items-center border-light-orange hover:bg-light-orange hover:duration-500 border-2 border-solid rounded-md">
            <div class="w-[90px]">
              <img class="m-auto" src="/themes/demo/assets/images/icon1.png" alt="icon">
            </div>
            <a href="/catalog">Столы</a>
          </li>
          <li
            class="blog-list__item flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange hover:bg-light-orange hover:duration-500 border-2 border-solid rounded-md">
            <div class="w-[90px]">
              <img class="m-auto" src="/themes/demo/assets/images/icon2.png" alt="icon">
            </div>
            <a href="/catalog">Стулья</a>
          </li>
          <li
            class="blog-list__item flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange hover:bg-light-orange hover:duration-500 border-2 border-solid rounded-md">
            <div class="w-[90px]">
              <img class="m-auto" src="/themes/demo/assets/images/icon3.png" alt="icon">
            </div>
            <a href="/catalog">Комоды</a>
          </li>
          <li
            class="blog-list__item flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange hover:bg-light-orange hover:duration-500 border-2 border-solid rounded-md">
            <div class="w-[90px]">
              <img class="m-auto" src="/themes/demo/assets/images/icon4.png" alt="icon">
            </div>
            <a href="/catalog">Тумбочки</a>
          </li>
          <li
            class="blog-list__item flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange hover:bg-light-orange hover:duration-500 border-2 border-solid rounded-md">
            <div class="w-[90px]">
              <img class="m-auto" src="/themes/demo/assets/images/icon5.png" alt="icon">
            </div>
            <a href="/catalog">Кровати</a>
          </li>
          <li
            class="blog-list__item flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange hover:bg-light-orange hover:duration-500 border-2 border-solid rounded-md">
            <div class="w-[90px]">
              <img class="m-auto" src="/themes/demo/assets/images/icon6.png" alt="icon">
            </div>
            <a href="/catalog">Диваны</a>
          </li>
          <li
            class="blog-list__item flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange hover:bg-light-orange hover:duration-500 border-2 border-solid rounded-md">
            <div class="w-[90px]">
              <img class="m-auto" src="/themes/demo/assets/images/icon7.png" alt="icon">
            </div>
            <a href="/catalog">Пуфы</a>
          </li>
          <li
            class="blog-list__item flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange hover:bg-light-orange hover:duration-500 border-2 border-solid rounded-md">
            <div class="w-[90px]">
              <img class="m-auto" src="/themes/demo/assets/images/icon8.png" alt="icon">
            </div>
            <a href="/catalog">Полки навесные</a>
          </li>
          <li
            class="blog-list__item flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange hover:bg-light-orange hover:duration-500 border-2 border-solid rounded-md">
            <div class="w-[90px]">
              <img class="m-auto" src="/themes/demo/assets/images/icon9.png" alt="icon">
            </div>
            <a href="/catalog">Стеллажи</a>
          </li>
          <li
            class="blog-list__item flex mb-5 pl-[25px] py-4 bg-white items-center border-light-orange hover:bg-light-orange hover:duration-500 border-2 border-solid rounded-md">
            <div class="w-[90px]">
              <img class="m-auto" src="/themes/demo/assets/images/icon10.png" alt="icon">
            </div>
            <a href="/catalog">Мангалы</a>
          </li>
          <li
            class="blog-list__item flex pl-[25px] py-4 bg-white items-center border-light-orange hover:bg-light-orange hover:duration-500 border-2 border-solid rounded-md">
            <div class="w-[90px]">
              <img class="m-auto" src="/themes/demo/assets/images/icon11.png" alt="icon">
            </div>
            <a href="/catalog">Для дачи</a>
          </li>
        </ul>
      </div>
      <div class="max-w-[1096px]">
        <ul
          class="grid grid-cols-3 gap-32 mb-20 text-2xl text-brown max-[1700px]:gap-20 max-2xl:gap-8 max-[1360px]:gap-20 max-[1090px]:gap-10 max-[1360px]:grid-cols-2 max-lg:justify-items-center max-sm:gap-3  max-[500px]:mb-7 max-[340px]:text-lg">
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
          <li
            class="max-w-[280px] p-5 bg-white rounded-lg shadow-card bg-300% max-[340px]:max-w-[150px] hover:shadow-light-black hover:duration-700"
            style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
            <a href="/card-product#card-product">
              <img class="mb-5" src="/themes/demo/assets/images/Карточкатовара.png" alt="card-img">
              <div>
                <p class="mb-2">Стул барный Бервин натуральный</p>
                <p class="mb-5">5 990 ₽</p>
                <div>
                  <ul class="flex">
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                      </svg>
                    </li>
                    <li class="mr-5 max-[340px]:mr-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#776D63" />
                      </svg>
                    </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                        <circle cx="15" cy="15" r="15" fill="#8C6034" />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
