<section class="max-w-site m-0 m-auto" id="kontakts">
  <div class="max-w-container m-0 m-auto">
    <div class="max-w-block m-0 m-auto font-futura text-2xl py-32 mx-5 max-md:py-10">
      <div class="grid grid-cols-[250px_auto] items-center mb-20 max-mdtwo:grid-cols-1">
        <h2 class="text-5xl font-inter font-medium">Контакты</h2>
        <span class="h-2 mt-2 bg-brown w-[88%]"></span>
      </div>
      <div class="grid grid-cols-2 max-1.5lg:grid-cols-1">
        <ul class="flex flex-wrap h-max max-md:text-lg">
          <li class="mr-40 mb-14 max-lg:mr-20 max-sm:mr-10">
            <h2 class="text-[32px] font-bold mb-7">Телефоны:</h2>
            <a class="flex items-center mb-7" href="tel:+79020363646">
              <img class="mr-5" src="/themes/demo/assets/images/contact-icon.png" alt="icon">
              <p>+7 902 036-36-46</p>
            </a>
            <a class="flex items-center" href="tel:+79020363646">
              <img class="mr-5" src="/themes/demo/assets/images/contact-icon.png" alt="icon">
              <p>+7 902 036-36-46</p>
            </a>
          </li>
          <li class="mb-14">
            <h2 class="text-[32px] font-bold mb-7">Режим работы:</h2>
            <p>10:00 - 21:00 ежедневно</p>
          </li>
          <li class="max-1.5lg:mb-14 mr-10">
            <h2 class="text-[32px] font-bold mb-7">Адреса магазинов:</h2>
            <div class="flex items-center mb-7">
              <img class="mr-7" src="/themes/demo/assets/images/contact2.png" alt="icon">
              <p class="font-bold">195051, г. Санкт-Петербург, ул. Фестивальная, д. 5, офис 54</p>
            </div>
            <div class="flex items-center">
              <img class="mr-7" src="/themes/demo/assets/images/contact2.png" alt="icon">
              <p class="font-bold">195051, г. Санкт-Петербург, ул. Фестивальная, д. 5, офис 54</p>
            </div>
          </li>
        </ul>
        <div class="mb-4 border-4 border-brown rounded-2xl overflow-hidden max-lg:h-[300px]">
          <script class="max-lg:h-[300px]" type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A42c9a633a5bc7568c9b3acf9ecbd0a1a202feb99c1eccdb9600d0bb77a40d299&amp;width=100%25&amp;height=588&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
      </div>
    </div>
  </div>
</section>
