{% set arBreadcrumbs = [
{'active': true, 'name': 'Мебель на заказ' }
] %}
<section class="max-w-site m-0 m-auto mx-5" id="faq">
  <div class="max-w-block m-0 m-auto font-futura text-xl pt-32 pb-20">
    <div class="grid grid-cols-[450px_auto] items-center mb-20 max-lg:grid-cols-1">
      <h2 class="mb-5 text-5xl font-inter font-medium max-lg:w-full max-md:text-3xl">Мебель на заказ</h2>
      <span class="max-mdtwo:mb-5 h-2 bg-brown max-lg:w-full"></span>
      {% partial 'breadcrums' wrapperClass='catalog__breadcrumbs' arBreadcrumbs=arBreadcrumbs %}
    </div>
    <div class="rounded-2xl bg-gradient-to-r max-xl:bg-gradient-to-b from-brown-header/20 via-brown-header/80 to-brown">
      <div class="grid grid-cols-[900px_auto] max-xl:grid-cols-1 p-5 rounded-2xl"
        style="background-image: url(/themes/demo/assets/images/фон-бумага.png); background-size: 30%;">
        <ul
          class="grid grid-cols-1 mr-10 text-xl rounded-2xl max-xl:mb-10 max-xl:mr-0 bg-white">
          <li class="p-5">
            <h2 class="font-bold text-2xl">Индивидуальный Дизайн:</h2>
            <p>Закажите мебель лофт, которая полностью соответствует вашему вкусу и потребностям. Мы работаем с опытными
              дизайнерами, готовыми воплотить ваши идеи в жизнь. Выберите материалы, цветовую гамму, формы и размеры,
              чтобы
              создать уникальное и функциональное пространство.</p>
          </li>
          <li class="p-5">
            <h2 class="font-bold text-2xl">Персональный Подход:</h2>
            <p>Мы ценим каждого клиента, и именно поэтому предоставляем персональный подход к каждому заказу. Наши
              мастера
              ручной
              работы будут работать с вами на каждом этапе процесса, учитывая ваши предпочтения и предоставляя
              регулярные
              обновления, чтобы ваш заказ соответствовал вашим ожиданиям.</p>
          </li>
          <li class="p-5">
            <h2 class="font-bold text-2xl">Выбор Материалов:</h2>
            <p>От грубой текстуры металла до теплого прикосновения натурального дерева — у нас есть широкий выбор
              материалов
              для
              создания вашей идеальной мебели.</p>
          </li>
          <li class="p-5">
            <h2 class="font-bold text-2xl">Уникальность в Каждой Детали:</h2>
            <p>Мы стремимся к созданию не просто мебели, а произведений искусства, олицетворяющих ваш вкус и стиль
              жизни.</p>
          </li>
          <li class="p-5">
            <h2 class="font-bold text-2xl">Производство с Любовью:</h2>
            <p>Каждая деталь вашей мебели будет изготовлена с любовью и вниманием к деталям.</p>
          </li>
          <li class="p-5">
            <p class="font-semibold">Не ограничивайте свои идеи стандартными вариантами. Сделайте заказ на мебель в стиле лофт, которая будет
              подчеркивать ваш уникальный вкус и стиль. Создайте пространство, в котором вы будете себя комфортно
              чувствовать и
              которое будет отражать вашу индивидуальность.</p>
          </li>
        </ul>
        <form
          class="grid grid-cols-1 gap-5 max-w-md max-xl:grid-cols-3 max-xl:max-w-none max-xl:w-full max-md:grid-cols-2 max-smtwo:grid-cols-1">
          <input type="text" name="name" id="name"
            class="border text-lg h-20 rounded-2xl border-brown focus:ring-brown-header focus:border-brown-header w-full p-4"
            placeholder="Имя" required
            style="background-image: url(/themes/demo/assets/images/corzina-icon.svg); background-repeat: no-repeat; background-position: right 28px center;">

          <input type="text" name="surname" id="surname"
            class="border text-lg h-20 rounded-2xl border-brown focus:ring-brown-header focus:border-brown-header w-full p-4"
            placeholder="Отчество" required
            style="background-image: url(/themes/demo/assets/images/corzina-icon2.svg); background-repeat: no-repeat; background-position: right 28px center;">

          <input type="text" name="lastname" id="middlename"
            class="border text-lg h-20 rounded-2xl border-brown focus:ring-brown-header focus:border-brown-header w-full p-4"
            placeholder="Фамилия" required
            style="background-image: url(/themes/demo/assets/images/corzina-icon2.svg); background-repeat: no-repeat; background-position: right 28px center;">

          <input type="text" name="phone" id="phone"
            class="mr-7 border text-lg h-20 rounded-2xl border-brown focus:ring-brown-header focus:border-brown-header w-full p-4"
            placeholder="Телефон" required
            style="background-image: url(/themes/demo/assets/images/tele.svg); background-repeat: no-repeat; background-position: right 28px center; background-size: 30px;">

          <input type="text" name="email" id="email"
            class="mr-7 border text-lg h-20 rounded-2xl border-brown focus:ring-brown-header focus:border-brown-header w-full p-4"
            placeholder="Email" required
            style="background-image: url(/themes/demo/assets/images/email.svg); background-repeat: no-repeat; background-position: right 28px center; background-size: 30px;">

          <input type="text" name="address" id="address"
            class="border text-lg h-20 rounded-2xl border-brown focus:ring-brown-header focus:border-brown-header w-full p-4"
            placeholder="Адрес" required
            style="background-image: url(/themes/demo/assets/images/corzina-icon3.svg); background-repeat: no-repeat; background-position: right 28px center;">
          <textarea name="text"
            class="max-xl:col-span-2 max-smtwo:col-span-1 resize-none border text-lg h-20 rounded-2xl border-brown focus:ring-brown-header focus:border-brown-header w-full p-4"
            placeholder="Комментарий к заказу"></textarea>
          <button class="text-white py-3 w-full text-2xl max-lg:text-xl max-md:col-start-2 max-smtwo:col-start-1 border-2 border-brown rounded-md
          hover:bg-gray-600/50 hover:rounded-3xl hover:underline duration-500" id="addOrder" type="button">
            Оформить
            заказ</button>
        </form>
      </div>
    </div>
  </div>
</section>
