{% set arBreadcrumbs = [
{'active': true, 'name': 'FAQ' }
] %}

<section class="max-w-site m-0 m-auto mx-5" id="faq">
  <div class="max-w-block m-0 m-auto font-DMSans pt-32 pb-52 max-md:pb-20">

    <div class="grid grid-cols-[800px_auto] items-center mb-20 max-lg:grid-cols-1">
      <h1 class="mb-5 text-5xl font-inter font-medium max-lg:w-full max-md:text-3xl">Ответы на популярные
        вопросы про Лофт Мебель</h1>
        <span class="max-mdtwo:mb-5 h-2 bg-brown max-lg:w-full"></span>
        {% partial 'breadcrums' wrapperClass='catalog__breadcrumbs' arBreadcrumbs=arBreadcrumbs %}
    </div>
    <div class="flex justify-center max-lg:flex-col max-lg:items-center">
      <ul class="accordion mr-60 max-xl:mr-20 max-lg:mr-0">
        <li class="accordion-item h-max mb-4">
          <div class="flex items-center justify-between">
            <h2 class="accordion-heading text-[22px] max-md:text-xl text-dark-blue font-semibold">1. Какую мебель Вы производите?
            </h2>
            <button class="accordion-btn">
              <span></span>
            </button>
          </div>
          <p class="accordion-content">Компания «МебельЛофт» занимается изготовлением мебели в стиле Loft преимущественно на металлокаркасе на заказ, а также присутствуют серийные образцы компании. Кроме того, наши специалисты производят перетяжку и ремонт мебели, а также изготовление отдельных видов мягкой мебели.</p>
        </li>
        <li class="accordion-item h-max mb-4">
          <div class="flex items-center justify-between">
            <h2 class="accordion-heading text-[22px] max-md:text-xl text-dark-blue font-semibold">2. Где можно посмотреть Вашу выставку?</h2>
            <button class="accordion-btn">
              <span></span>
            </button>
          </div>
          <p class="accordion-content">В настоящее время компания не имеет собственного шоурума, но в ближайшее время планируется его открытие в г.Мурманск. Пока Вы можете ознакомиться с изделиями в каталоге сайта или придумать или подобрать интересующие Вас модели мебели, а мы постараемся изготовить их ещё лучше.</p>
        </li>
        <li class="accordion-item h-max mb-4">
          <div class="flex items-center justify-between">
            <h2 class="accordion-heading text-[22px] max-md:text-xl text-dark-blue font-semibold">3. Из каких материалов производите мебель?</h2>
            <button class="accordion-btn">
              <span></span>
            </button>
          </div>
          <p class="accordion-content">В производстве используются только качественные экологичные материалы и фурнитура. Наполнение конкретного изделия можно посмотреть в карточке каталога, при индивидуальном заказе материалы Вы можете выбрать вместе с нашим менеджером.</p>
        </li>
      </ul>
      <ul class="accordion">
        <li class="accordion-item h-max mb-4">
          <div class="flex items-center justify-between">
            <h2 class="accordion-heading text-[22px] max-md:text-xl text-dark-blue font-semibold">4. Можно отказаться от заказа после подписания договора?</h2>
            <button class="accordion-btn">
              <span></span>
            </button>
          </div>
          <p class="accordion-content">Можно, но не позднее 3-х календарных дней со дня подписания договора. Предоплата возвращается в полном объёме. В случае более позднего расторжения договора, предоплата возвращается с учетом понесенных расходов продавца.</p>
        </li>
        <li class="accordion-item h-max">
          <div class="flex items-center justify-between">
            <h2 class="accordion-heading text-[22px] max-md:text-xl text-dark-blue font-semibold">5. Каков срок изготовления и доставки мебели после оформления заказа?</h2>
            <button class="accordion-btn">
              <span></span>
            </button>
          </div>
          <p class="accordion-content">Время изготовления занимает 14-30 дней с момента подписания договора. Точный срок сообщаем при оформлении договора, зависит от наличия материалов, сложности заказа и загруженности производителя. После того, как заказ будет готов, Вам позвонит наш менеджер и согласует удобное время получения (доставки).</p>
        </li>
        <li class="accordion-item h-max">
          <div class="flex items-center justify-between">
            <h2 class="accordion-heading text-[22px] max-md:text-xl text-dark-blue font-semibold">6. Сколько стоит доставка и сборка мебели?</h2>
            <button class="accordion-btn">
              <span></span>
            </button>
          </div>
          <p class="accordion-content">• Доставка по г. Мурманску бесплатная до подъезда.  Доставка по РФ оговаривается отдельно.
              <br>• Стоимость подъема на этаж зависит от габаритов мебели, конфигурации дома.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
