<section class="max-w-site m-0 m-auto" id="faq">
  <div class="max-w-block m-0 m-auto font-DMSans pt-32 pb-52 mx-5 max-md:pb-20">
    <div class="flex items-center mb-20 max-lg:flex-col">
      <h2 class="w-[50%] text-5xl font-inter font-medium max-lg:w-full max-lg:mb-5 max-md:text-3xl">Ответы на популярные вопросы</h2>
      <span class="h-2 bg-brown w-[50%] max-lg:w-full"></span>
    </div>
    <div class="flex justify-center max-lg:flex-col max-lg:items-center">
      <ul class="accordion mr-60 max-xl:mr-20 max-lg:mr-0">
        <li class="accordion-item h-max mb-4">
          <div class="flex items-center justify-between">
            <h2 class="accordion-heading text-[22px] max-md:text-xl text-dark-blue font-semibold">Why is Webflow the best nocode tool?
            </h2>
            <button class="accordion-btn">
              <span></span>
            </button>
          </div>
          <p class="accordion-content">Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat aute irure dolor</p>
        </li>
        <li class="accordion-item h-max mb-4">
          <div class="flex items-center justify-between">
            <h2 class="accordion-heading text-[22px] max-md:text-xl text-dark-blue font-semibold">How to launch a Webflow website?</h2>
            <button class="accordion-btn">
              <span></span>
            </button>
          </div>
          <p class="accordion-content">Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat aute irure dolor</p>
        </li>
        <li class="accordion-item h-max mb-4">
          <div class="flex items-center justify-between">
            <h2 class="accordion-heading text-[22px] max-md:text-xl text-dark-blue font-semibold">When did Webflow was founded?</h2>
            <button class="accordion-btn">
              <span></span>
            </button>
          </div>
          <p class="accordion-content">Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat aute irure dolor</p>
        </li>
      </ul>
      <ul class="accordion">
        <li class="accordion-item h-max mb-4">
          <div class="flex items-center justify-between">
            <h2 class="accordion-heading text-[22px] max-md:text-xl text-dark-blue font-semibold">Who founded BRIX Templates?</h2>
            <button class="accordion-btn">
              <span></span>
            </button>
          </div>
          <p class="accordion-content">Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat aute irure dolor</p>
        </li>
        <li class="accordion-item h-max">
          <div class="flex items-center justify-between">
            <h2 class="accordion-heading text-[22px] max-md:text-xl text-dark-blue font-semibold">Is NoCode the future of the web?</h2>
            <button class="accordion-btn">
              <span></span>
            </button>
          </div>
          <p class="accordion-content">Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat aute irure dolor</p>
        </li>
        <li class="accordion-item h-max">
          <div class="flex items-center justify-between">
            <h2 class="accordion-heading text-[22px] max-md:text-xl text-dark-blue font-semibold">Who are the Webflow founders?</h2>
            <button class="accordion-btn">
              <span></span>
            </button>
          </div>
          <p class="accordion-content">Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat aute irure dolor</p>
        </li>
      </ul>
    </div>
  </div>
</section>
