<dialog id="modal">
    <form method="dialog">
        <button id="closeBtn">
            <img src="/themes/demo/assets/images/close.svg" alt="Закрыть">
        </button>
        <h2>Заполните форму</h2>
        <div>
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="phone">Телефон:</label>
            <input type="tel" id="phone" name="phone" required>
        </div>
        <div>
            <input type="submit" value="Отправить">
        </div>
        <div id="policy">
            <p>Нажимая на кнопку, вы соглашаетесь с <a href="/privacy">политикой конфиденциальности</a>.</p>
        </div>
    </form>
</dialog>
