<article
    class="productCard lazyload p-5 bg-white rounded-lg shadow-card bg-300% max-mini:max-w-[170px] hover:shadow-light-black hover:duration-700"
    data-bg="/themes/demo/assets/images/brick-wall-painted-white.png">
    <a href="/catalog/{{obProduct.category.slug}}/{{obProduct.slug}}#card-product">
        {% if obProduct.preview_image.path is not empty %}
        <img class="mb-5 rounded-lg" src="{{obProduct.preview_image.path}}" alt="{{obProduct.name}}">
        {% else %}
        <img class="mb-5 rounded-lg" src="/themes/demo/assets/images/nophoto.jpg" alt="{{obProduct.name}}">
        {% endif %}
        <div>
            <h3 class="mb-2">{{obProduct.name}}</h3>
            <p class="mb-5">{{obOffer.price}} ₽</p>
            <div>
                <ul class="flex">
                    <li class="mr-5 max-mini:mr-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                            <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                        </svg>
                    </li>
                    <li class="mr-5 max-mini:mr-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                            <circle cx="15" cy="15" r="15" fill="#776D63" />
                        </svg>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                            <circle cx="15" cy="15" r="15" fill="#8C6034" />
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
    </a>
</article>
