{% set obOffer = obProduct.offer.first() %}
{% set obCartPositionList = Cart.get() %}
{% set arBreadcrumbs = [
{'slug': obProduct.category.getPageUrl('catalog'), 'name': obProduct.category.name},
{'active': true, 'name': obProduct.name}
] %}
<section class="max-w-site m-0 m-auto" id="card-product">
  <div class="max-w-container m-0 m-auto">
    <div class="pt-10 ml-10">
      {% partial 'breadcrums' wrapperClass='catalog__breadcrumbs' arBreadcrumbs=arBreadcrumbs %}
    </div>
    <div class="max-w-block m-0 m-auto font-futura text-xl py-20 mx-5">
      <div
        class=" mb-10 p-10 rounded-s-full bg-gradient-to-r from-brown-header max-lg:rounded-ss-full max-lg:rounded-s-none max-lg:rounded-t-full max-lg:bg-gradient-to-b max-mini:p-5">
        <div class="max-w-xl flex justify-around ml-32 max-lg:flex-col max-lg:items-center max-lg:ml-0">
          <div
            class="foto-prod mt-7 max-1.3xl:mt-16 max-xl:mr-20 max-lg:mr-0 bg-white border border-brown rounded-lg max-lg:mb-5 max">
            <div class="swiper swiper-foto-prod rounded-lg">
              <div class="swiper-wrapper">
                {% for slide in obProduct.images %}
                <div class="swiper-slide swiper-clide-1">
                  <img class="h-full w-full object-cover" src="{{slide.path}}" alt="{{slide.title}}">
                </div>
                {% endfor %}
              </div>
            </div>
            <div
              class="absolute -left-40 top-40 z-10 w-24 m-7 max-lg:flex max-lg:justify-between max-lg:w-[150%] max-lg:-left-32 max-md:-left-[102px] max-smtwo:w-[143%] max-smtwo:-left-[93px] max-sm:-left-[81px] max-minitwo:w-auto max-minitwo:-top-24 max-minitwo:left-7">
              <div
                class="slider__prev w-16 max-smtwo:w-12 mb-8 max-lg:mb-0 max-minitwo:mr-8 rounded-full bg-white border-4 border-double hover:border-brown hover:duration-300">
                <img class="w-16 p-2" src="/themes/demo/assets/images/arrowl.svg" alt="arrow-left">
              </div>
              <div
                class="slider__next w-16 max-smtwo:w-12 rounded-full bg-white border-4 border-double hover:border-brown hover:duration-300">
                <img class="w-16 p-2" src="/themes/demo/assets/images/arrowr.svg" alt="arrow-right">
              </div>
            </div>
          </div>
          <div class="max-w-sm w-full p-5 max-lg:max-w-none bg-white border border-brown rounded-lg">
            <h2 class="text-4xl pb-2 mb-5 border-b border-b-brown max-xl:text-3xl">{{ obProduct.name }}</h2>
            <p class="text-red-900 text-4xl font-bold max-xl:text-3xl">{{ obOffer.price }}p</p>
            <h2 class="text-3xl underline underline-offset-2 mb-5 max-xl:text-2xl">Характеристики</h2>
            <ul class="max-lg:grid max-lg:grid-cols-2 max-md:grid-cols-1">
              <li class="mb-5 max-lg:mb-0 max-md:mb-5">
                <ul class="mb-3">
                  <h2 class="text-2xl font-semibold mb-2 max-xl:text-xl">Размеры:</h2>
                  {% if obOffer.length is not empty %}
                  <li class="flex justify-between mb-1 max-xl:text-lg">
                    <p>Длина</p>
                    <p>{{ obOffer.length }}см</p>
                  </li>
                  {% endif %}
                  {% if obOffer.weight is not empty %}
                  <li class="flex justify-between mb-1 max-xl:text-lg">
                    <p>Вес</p>
                    <p>{{ obOffer.weight }}кг</p>
                  </li>
                  {% endif %}
                  {% if obOffer.height is not empty %}
                  <li class="flex justify-between mb-1 max-xl:text-lg">
                    <p>Высота</p>
                    <p>{{ obOffer.height }}см</p>
                  </li>
                  {% endif %}
                  {% if obOffer.width is not empty %}
                  <li class="flex justify-between max-xl:text-lg">
                    <p>Ширина</p>
                    <p>{{ obOffer.width }}см</p>
                  </li>
                  {% endif %}
                  {% if obProduct.preview_text is not empty %}
                  <li class="mt-3">
                    {{ obProduct.preview_text }}
                  </li>
                  {% endif %}
                </ul>

                <div class="card-form relative p-5 bg-brown text-white rounded-md max-xl:p-3">
                  <div class="flex justify-center relative z-30">
                    <h2 class="text-xl max-md:text-lg max-minitwo:text-base">Изготавливаем любые
                      размеры под заказ</h2>
                  </div>
                  <form class="card-form__list min-w-max hidden rounded-xl mr-5">
                    <div class="card-form__item my-3 flex justify-between items-center">
                      <label class="w-[150px] max-mdtwo:w-24" for="length">Длина:</label>
                      <input class="max-smtwo:max-w-[90px] text-black focus:border-brown-header" type="text" id="length"
                        name="length" placeholder="в см">
                    </div>
                    <div class="card-form__item mb-3 flex justify-between items-center">
                      <label class="w-[150px] max-mdtwo:w-24" for="width">Ширина:</label>
                      <input class="max-smtwo:max-w-[90px] text-black focus:border-brown-header" type="text" id="width"
                        name="width" placeholder="в см">
                    </div>
                    <div class="card-form__item mb-3 flex justify-between items-center">
                      <label class="w-[150px] max-mdtwo:w-24" for="height">Высота:</label>
                      <input class="max-smtwo:max-w-[90px] text-black focus:border-brown-header" type="text" id="height"
                        name="height" placeholder="в см">
                    </div>
                    <div class="flex justify-end">
                      <button class="bg-brown-header py-2 px-6 rounded-lg" type="button">Отправить
                        заказ
                      </button>
                    </div>
                  </form>
                </div>
              </li>
              <li
                class="max-lg:h-full max-lg:flex max-lg:flex-col max-lg:justify-between max-lg:self-end max-lg:ml-5 max-md:ml-0">
                <div>
                  <div class="flex justify-between mb-5">
                    <h2 class="text-2xl font-semibold max-xl:text-xl">Цвета:</h2>
                    <ul class="flex">
                      <li class="mr-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                          <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                        </svg>
                      </li>
                      <li class="mr-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                          <circle cx="15" cy="15" r="15" fill="#776D63" />
                        </svg>
                      </li>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                          <circle cx="15" cy="15" r="15" fill="#8C6034" />
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <div class="flex justify-between mb-5">
                    <h2 class="text-2xl font-semibold max-xl:text-xl">Страна изготовитель:</h2>

                    <p class="font-semibold underline-offset-2 underline text-2xl max-xl:text-xl">
                      Россия</p>

                  </div>
                </div>
                <form method="post" data-request="onAddToCart" data-request-data="product_id: '{{obProduct.id}}'"
                  data-request-update="counter: '.counterUpdate'">
                  <button data-offer-id="{{obOffer.id}}" type="submit" data-offer-code="{{obOffer.code}}" class="_shopaholic-cart-add text-white py-3 w-full bg-button border
                                            rounded-md font-light text-2xl max-xl:text-xl hover:border-brown hover:underline
                                            hover:underline-offset-4 hover:duration-300" name="add-to-cart">
                    {% set flag = false %}
                    {% for obCartProduct in obCartPositionList %}
                    {% if obCartProduct.item_id == obOffer.id %}
                    {% set flag = true %}
                    {% endif %}
                    {% endfor %}
                    {% if flag == true %}
                    В корзине
                    {% else %}
                    Добавить в корзину
                    {% endif %}
                  </button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-10 max-lg:grid-cols-1 max-lg:gap-5">
        <div class="mb-10 max-lg:mb-0">
          <h2 class="text-3xl underline underline-offset-2 mb-5">Описание</h2>
          <p>{{obProduct.description|raw}}</p>
        </div>
        <div class="mb-10">
          <h2 class="text-3xl underline underline-offset-4 mb-5">Доставка</h2>
          <p class=""><b>Ваша уютная обстановка — наша забота! </b> В компании "Север мебель" мы понимаем, как
            важно получать заказы вовремя. Поэтому мы предлагаем экспресс-доставку мебели в любую точку
            России!
          </p>
        </div>
      </div>
      <div class="">
        <h2 class="text-3xl underline underline-offset-2 mb-5">Смотрите также</h2>
        <div class="card bg-white rounded-3xl">
          <div class="swiper swiper-card rounded-3xl">
            <ul class="swiper-wrapper flex">
              {% for obProduct in relatedProducts %}
              {% set obOffer = obProduct.offer.first() %}
              <li
                class="swiper-slide max-w-[280px] mx-5 p-5 bg-white rounded-lg shadow-card bg-300% hover:shadow-light-black hover:duration-700"
                style="background-image: url(/themes/demo/assets/images/brick-wall-painted-white.png);">
                <a href="/catalog/{{obProduct.category.slug}}/{{obProduct.slug}}#card-product">
                  <img class="mb-5" src="{{obProduct.preview_image.path}}" alt="{{obProduct.name}}">
                  <div>
                    <p class="mb-2">{{obProduct.name}}</p>
                    <p class="mb-5">{{obOffer.price}} ₽</p>
                    <div>
                      <ul class="flex">
                        <li class="mr-5 max-[340px]:mr-3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                            fill="none">
                            <circle cx="15" cy="15" r="15" fill="#D2BA94" />
                          </svg>
                        </li>
                        <li class="mr-5 max-[340px]:mr-3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                            fill="none">
                            <circle cx="15" cy="15" r="15" fill="#776D63" />
                          </svg>
                        </li>
                        <li>
                          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                            fill="none">
                            <circle cx="15" cy="15" r="15" fill="#8C6034" />
                          </svg>
                        </li>
                      </ul>
                    </div>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div>
            <div class="slider__prev-card absolute -left-9 max-lg:left-1 top-1/3 z-10 border border-brown rounded-full"
              title="arrowleft">
              <img class="p-3 w-16 max-mini:w-10 bg-white rounded-full" src="/themes/demo/assets/images/arrowl.svg"
                alt="arrowleft">
            </div>
            <div
              class="slider__next-card absolute -right-9 max-lg:right-1 top-1/3 z-10 border border-brown rounded-full"
              title="arrowright">
              <img class="p-3 w-16 max-mini:w-10 bg-white rounded-full" src="/themes/demo/assets/images/arrowr.svg"
                alt="arrowright">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="loadingmessage" class="errorMsg errorField" style="display: none;">
  Вы не заполнили обязательные поля
</div>
