
<div class="catalog-list grid grid-cols-3 gap-10 max-1.5lg:grid-cols-2 max-lg:grid-cols-3 max-mdtwo:gap-5 mb-20 text-2xl text-brown
max-md:grid-cols-2 max-lg:justify-items-center max-smtwo:mb-7 max-minitwo:grid-cols-1 max-mini:text-lg">

    {% if obProductList is not empty %}
    {% for obProduct in obProductList %}
    {% set obOffer = obProduct.offer.first() %}
    {% if obOffer.price > 0 %}
    {% partial 'product-card' %}
    {% endif   %}
    {% endfor %}
</div>
{% else %}
<ul class=" catalog-list grid grid-cols-3 gap-32 mb-20 text-2xl text-brown max-2xl:gap-20 max-xl:gap-10
max-md:grid-cols-2 max-lg:justify-items-center max-smtwo:mb-7 max-mini:text-lg">

{% set obProductList = ProductList.make().active().category(22).take() %}

{% endif %}
</ul>

