<section class="max-w-site m-0 mx-auto bg-brown">
  <div class="max-w-block m-0 mx-auto font-inter mx-5">
    <ul class="mx-auto grid grid-cols-4 gap-24 py-20 text-sm max-mdtwo:grid-cols-2 max-mdtwo:gap-10 max-mdtwo:py-10 max-md:text-xs max-smtwo:grid-cols-1">
      <li>
        <h2 class="text-white text-base mb-6">О КОМПАНИИ “СЕВМЕБЕЛЬ“</h2>
        <p class="text-footer-gray">ООО "СДМ" ЯВЛЯЕТСЯ ПОСТАВЩИКОМ ГРУЗОВОЙ И ДОРОЖНО-СТРОИТЕЛЬНОЙ ТЕХНИКИ НА ТЕРРИТОРИИ
          СЗФО С
          2008 ГОДА И
          ПРЕДЛАГАЕТ СВОИМ КЛИЕНТАМ ОПТИМАЛЬНЫЕ РЕШЕНИЯ ДЛЯ БИЗНЕСА ВКЛЮЧАЯ ПОДБОР, ПРОДАЖУ, ГАРАНТИЙНОЕ И
          ПОСЛЕГАРАНТИЙНОЕ ОБСЛУЖИВАНИЕ ТЕХНИКИ.</p>
      </li>
      <li>
        <h2 class="text-white text-base mb-6">ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ</h2>
        <p class="text-footer-gray">ЦЕНЫ, УКАЗАННЫЕ НА САЙТЕ, НЕ ЯВЛЯЮТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ! ОБРАЩАЕМ ВАШЕ ВНИМАНИЕ НА
          ТО, ЧТО
          ДАННЫЙ
          ИНТЕРНЕТ-САЙТ НОСИТ ИСКЛЮЧИТЕЛЬНО ИНФОРМАЦИОННЫЙ ХАРАКТЕР И НИ ПРИ КАКИХ УСЛОВИЯХ НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ
          ОФЕРТОЙ, ОПРЕДЕЛЯЕМОЙ ПОЛОЖЕНИЯМИ ЗАКОНОДАТЕЛЬСТВА РФ.
        </p>
      </li>
      <li>
        <h2 class="text-white text-base mb-6">ДЛЯ СМИ</h2>
        <p class="text-footer-gray">ОБРАЩАЕМ ОСОБОЕ ВНИМАНИЕ НА ОБЯЗАТЕЛЬНОЕ УПОМИНАНИЕ ПРИ ЦИТИРОВАНИИ МАТЕРИАЛОВ
          САЙТА. ДЛЯ ИНТЕРНЕТ-ИЗДАНИЙ
          ОБЯЗАТЕЛЬНА ГИПЕРССЫЛКА.
        </p>
      </li>
      <li>
        <h2 class="text-white text-base mb-6">КОНТАКТНАЯ ИНФОРМАЦИЯ</h2>
        <div class="text-footer-gray">
          <div class="mb-5">
            <p>ТЕЛЕФОН:</p>
            <a class="underline underline-offset-2 hover:no-underline" href="tel:+78005509465">8-800-550-94-65</a>
          </div>
          <p>АДРЕС: <br><span class="underline underline-offset-2">Г. МУРМАНСК, УЛ. ПОДСТАНИЦКОГО 1, 2 ЭТАЖ</span></p>
        </div>
      </li>
    </ul>
  </div>
  <div class="flex justify-center bg-footer-brown pb-3 pt-5 text-center">
    <p class="text-xl text-white max-md:text-sm">Copyright © 2012 - 2023. Сайт сделан компанией <a class="hover:underline" href="https://web-studio-51.com">Web-studio-51.</a> Все права защищены.</p>
  </div>
</section>
