<div class="max-w-site m-0 m-auto mt-6 mb-10 text-dark-blue font-sans text-lg">
  <div class="max-w-container m-0 m-auto ">
    <div class="grid grid-cols-[215px_auto_150px] justify-items-center items-center">
      <a href="#" title="Логотип компании ...">
        <img src="/themes/demo/assets/images/october-color-logo-v1.svg" alt="logo">
      </a>
      <ul class="grid grid-cols-6 max-w-max gap-3 justify-items-center">
        <li class="">
          <a href="#" title="Features">Features</a>
        </li>
        <li class="">
          <a href="#" title="Free License">Free License</a>
        </li>
        <li class="">
          <a href="#" title="Prising">Prising</a>
        </li>
        <li class="">
          <a href="#" title="Resources">Resources</a>
        </li>
        <li class="">
          <a href="#" title="Marketplace">Marketplace</a>
        </li>
        <li class="">
          <a href="#" title="Partners">Partners</a>
        </li>
      </ul>
      <div class="grid grid-cols-2 justify-items-end items-center">
        <a href="#" title="Account">Account</a>
        <button>
          <img class="w-10" src="/themes/demo/assets/images/default-avatar.png" alt="avatar">
        </button>
      </div>
    </div>
  </div>
</div>
