<section class="max-w-site m-0 m-auto" style="background-image: url('/themes/demo/assets/images/cement-texture.png');">
  <div class="max-w-container m-0 m-auto font-futura">
    <div class="grid grid-cols-[234px_auto_150px] items-center justify-between py-12 mb-[74px]">
      <button class="flex items-center">
        <img src="/themes/demo/assets/images/logo.svg" alt="logo">
        <a class="flex items-center text-3xl" title="Логотип компании Севмебель">Севмебель</a>
      </button>
      <ul class="flex max-w-[750px] text-2xl">
        <li class="pr-14">
          <a href="">Каталог</a>
        </li>
        <li class="pr-14">
          <a href="">Мебель на заказ</a>
        </li>
        <li class="pr-14">
          <a href="">Контакты</a>
        </li>
        <li class="pr-14">
          <a href="">Вакансии</a>
        </li>
        <li>
          <a href="">FAQ</a>
        </li>
      </ul>
      <div class="grid grid-cols-2">
        <a href="">
          <img src="/themes/demo/assets/images/Icon_ring1.png" alt="">
        </a>
        <a href="">
          <img class="" src="/themes/demo/assets/images/Icon_ring2.png" alt="">
        </a>
      </div>
    </div>
    <div class="grid grid-cols-[auto_772px] justify-center pt-[74px] pb-[47px]">
      <div class="text-center pt-14 pr-[100px] pb-6 pl-24">
        <h1 class="text-brown text-9xl mb-4 font-title">ЛОФТ МЕБЕЛЬ</h1>
        <p class="text-light-brown text-3xl mb-2 font-morice">УЮТ И СТИЛЬ В КАЖДОЙ ДЕТАЛИ!</p>
        <p class="text-black text-4xl font-lobster -rotate-2"><span class="text-bright-red">Р</span>учная работа</p>
      </div>
      <div class="max-w-3xl">
        <img src="/themes/demo/assets/images/Мебельнабор.png" alt="">
      </div>
    </div>
  </div>
</section>
