@font-face {
    font-family: 'FuturaPT-Bold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""), url("/themes/demo/assets/fonts/FuturaPT-Bold.eot") format("embedded-opentype"),
    url("/themes/demo/assets/fonts/FuturaPT-Bold.ttf") format("truetype"),
    url("/themes/demo/assets/fonts/FuturaPT-Bold.woff") format("woff");
}
@font-face {
    font-family: 'FuturaPT-Book';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""), url("/themes/demo/assets/fonts/FuturaPT-Book.eot") format("embedded-opentype"),
    url("/themes/demo/assets/fonts/FuturaPT-Book.ttf") format("truetype"),
    url("/themes/demo/assets/fonts/FuturaPT-Book.woff") format("woff");
}
@font-face {
    font-family: 'FuturaPT-Demi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""), url("/themes/demo/assets/fonts/FuturaPT-Demi.eot") format("embedded-opentype"),
    url("/themes/demo/assets/fonts/FuturaPT-Demi.ttf") format("truetype"),
    url("/themes/demo/assets/fonts/FuturaPT-Demi.woff") format("woff");
}
@font-face {
    font-family: 'FuturaPT-ExtraBold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""), url("/themes/demo/assets/fonts/FuturaPT-ExtraBold.eot") format("embedded-opentype"),
    url("/themes/demo/assets/fonts/FuturaPT-ExtraBold.ttf") format("truetype"),
    url("/themes/demo/assets/fonts/FuturaPT-ExtraBold.woff") format("woff");
}
@font-face {
    font-family: 'FuturaPT-Heavy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""), url("/themes/demo/assets/fonts/FuturaPT-Heavy.eot") format("embedded-opentype"),
    url("/themes/demo/assets/fonts/FuturaPT-Heavy.ttf") format("truetype"),
    url("/themes/demo/assets/fonts/FuturaPT-Heavy.woff") format("woff");
}
@font-face {
    font-family: 'FuturaPT-Light';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""), url("/themes/demo/assets/fonts/FuturaPT-Light.eot") format("embedded-opentype"),
    url("/themes/demo/assets/fonts/FuturaPT-Light.ttf") format("truetype"),
    url("/themes/demo/assets/fonts/FuturaPT-Light.woff") format("woff");
}
@font-face {
    font-family: 'FuturaPT-Medium';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""), url("/themes/demo/assets/fonts/FuturaPT-Medium.eot") format("embedded-opentype"),
    url("/themes/demo/assets/fonts/FuturaPT-Medium.ttf") format("truetype"),
    url("/themes/demo/assets/fonts/FuturaPT-Medium.woff") format("woff");
}
@font-face {
    font-family: 'Morice-Bejar';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""), url("/themes/demo/assets/fonts/Morice-Bejar.eot") format("embedded-opentype"),
    url("/themes/demo/assets/fonts/Morice-Bejar.ttf") format("truetype"),
    url("/themes/demo/assets/fonts/Morice-Bejar.woff") format("woff");
}
@font-face {
    font-family: 'Pollock1c';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""), url("/themes/demo/assets/fonts/Pollock1c.eot") format("embedded-opentype"),
    url("/themes/demo/assets/fonts/Pollock1c.ttf") format("truetype"),
    url("/themes/demo/assets/fonts/Pollock1c.woff") format("woff");
}
@font-face {
    font-family: 'Lobster-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""), url("/themes/demo/assets/fonts/Lobster-Regular.eot") format("embedded-opentype"),
    url("/themes/demo/assets/fonts/Lobster-Regular.ttf") format("truetype"),
    url("/themes/demo/assets/fonts/Lobster-Regular.woff") format("woff");
}

