.swiper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.swiper-slide {
    background-size: cover;
    display: flex;
    justify-content: center;
}

.foto-prod {
    position: relative;
    max-width: 600px;
    width: 100%;
}

.card{
    position: relative;
    width: 100%;
    height: 400px;
}
.card .swiper {
    width: 100%;
}

.swiper-card .swiper-wrapper {
    height: min-content;
}
